*.gitignore
*.json
*.pyc
*.iml
*.gz
*.xls
*.xls#
*/.idea
/Work/Eigen_Tool/cmake-build-debug
/Work/Eigen_Example/cmake-build-debug/
/Slam/slambook2/3rdparty/
/Slam/slambook2
/Slam/slambook/base/cmake-build-debug/
/Slam/slambook/camera/cmake-build-debug
/Slam/slambook/cmake-build-debug
/Slam/slambook/math_lib/cmake-build-debug
/Slam/slambook/tool/cmake-build-debug
/Work/cmake-build-debug
/Slam/slambook/vo/cmake-build-debug
