*.gitignore
*.json
*.pyc
*.iml
*.gz
*.xls
*.xls#
*/.idea
/Work/Eigen_Tool/cmake-build-debug
/Work/Eigen_Example/cmake-build-debug/
/Slam/slambook2/3rdparty/
/Slam/slambook2
/Slam/slambook/cmake-build-debug
/Slam/slambook/math_lib/cmake-build-debug
/Slam/slambook/tool/cmake-build-debug
/Work/cmake-build-debug
/Slam/slambook/1_camera/cmake-build-debug/
/Slam/slambook/2_vo/cmake-build-debug/
/Slam/slambook/3_backend/cmake-build-debug/
/Slam/slambook/4_loop_closure/cmake-build-debug/
/Slam/slambook/5_mapping/cmake-build-debug/
/Slam/slambook/6_my_slam/cmake-build-debug/
/Slam/slambook/.idea/
/Slam/slambook/6_my_slam/bin
/Slam/slambook/6_my_slam/lib
