<launch>
    <arg name="platform" default="water" />

    <node name="standalone_tracker" pkg="costmap_tracker" type="costmap_tracker_node" respawn="true" output="screen">
        <param name="converter_plugin" value="costmap_tracker::CostmapToDynamicObstacles" />
        <param name="publish_static_obstacles" value="false" />
        <param name="odom_topic" value="/odom" />
        <param name="dt" value="0.17" />
        <rosparam file="$(find costmap_tracker)/param/$(arg platform).yaml" command="load" />
    </node>
</launch>
